<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="text-align: center;">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th style="text-align: center;" mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="modelo">
    <th style="text-align: center;" mat-header-cell *matHeaderCellDef> Modelo </th>
    <td mat-cell *matCellDef="let element"> {{element.modelo}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="marca">
    <th style="text-align: center;" mat-header-cell *matHeaderCellDef> Marca </th>
    <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="cantidadPuertas">
    <th  style="text-align: center;"mat-header-cell *matHeaderCellDef> N° Puertas </th>
    <td mat-cell *matCellDef="let element"> {{element.cantidadPuertas}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="precioDia">
    <th  style="text-align: center;"mat-header-cell *matHeaderCellDef> Precios/Dia </th>
    <td mat-cell *matCellDef="let element"> {{element.precioPorDia}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="aireAcon">
    <th  style="text-align: center;"mat-header-cell *matHeaderCellDef> Aire Acondicionado </th>
    <td mat-cell *matCellDef="let element"> {{element.tieneAireAcon}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="dirAsist">
    <th  style="text-align: center;" mat-header-cell *matHeaderCellDef> Direccion Asistida </th>
    <td mat-cell *matCellDef="let element"> {{element.tieneDireccion}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="tipoCambio">
    <th  style="text-align: center;" mat-header-cell *matHeaderCellDef> Tipo Cambio </th>
    <td mat-cell *matCellDef="let element"> {{element.tipoCambio}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="disponibles">
    <th  style="text-align: center;"mat-header-cell *matHeaderCellDef> Disponibles </th>
    <td mat-cell *matCellDef="let element"> {{element.cantidadDisponible}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="reservar">
    <th  style="text-align: center;"mat-header-cell *matHeaderCellDef> -Reservar- </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="book(element)">
        <mat-icon>book</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr  mat-row *matRowDef="let row; columns: displayedColumns;">
  </tr>
</table>