<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Turicor 2018 Grupo 7</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-form-field>
  <mat-select placeholder="Select Country" [(ngModel)]="selectedCountryID">
    <mat-option ((onSelectionChange)="onSelectCountry($event)" (click)="onSelectCountry()" *ngFor="let country of countriesSoap" [value]="country.value"> 
      {{country.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="Select City" [(ngModel)]="selectedCityID">
    <mat-option *ngFor="let city of citiesSoap" [value]="city.value"> 
      {{city.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

  <button mat-icon-button (click)="search()" ><mat-icon>search</mat-icon></button>
</div>

<mat-form-field id="dateFrom">
  <input matInput [min]="minDateFrom" [max]="maxDateFrom" [matDatepicker]="pickerFrom" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-form-field id="dateTo">
  <input matInput [min]="pickerFrom" [max]="maxDate" [matDatepicker]="pickerTo" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>


<app-car-table [vehiculosSoap] = 'vehiculosSoap' ></app-car-table>
  
  


